.section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
}
.sectionTitle {
  position: absolute;
  transform: translateY(-30px);
  text-align: center;
  line-height: 20px;
  background: white;
  text-transform: lowercase;
  max-width: calc(100% - 75px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: auto;
}
.sectionTitle:before {
  content: '[';
}
.sectionTitle:after {
  content: ']';
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 2px 0;
  border: 1px solid #efefef;
  cursor: pointer;
}
.item img {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}
.item .name {
  flex: 1;
  padding: 10px;
}
.item.unselected {
  opacity: 0.3;
}
