.menu {
  flex: 1;
  padding-right: 10px;
  border-right: 1px solid black;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;

  transition: all 0.2s ease-out;
}
.heading {
  display: none;
}

/* Desktop */
@media only screen and (min-width: 480px) {
  .button:not(.active):hover {
    transform: translateX(5px);
    background-color: rgb(245, 245, 245);
  }
  .active {
    padding-right: 20px;
    border-right: 1px solid transparent;
    transform: translateX(11px);
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .menu {
    transform: translateX(-100%);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: initial;
    padding: 15px;
    background-color: #fff;
    transition: all 0.2s ease-out;

    z-index: 1;
  }
  .open {
    transform: translateX(0);
  }
  .heading {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 16px;
  }
  .closeButton {
    margin-right: 5px;
  }
}
