.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 5px;
  margin: 2px 0;
  border: 1px solid #efefef;
  cursor: pointer;
}
.item img {
  min-width: 50px;
  height: 50px;
  margin: 0 5px;
}
.name {
  width: 45%;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item.unchecked {
  opacity: 0.3;
}
.item.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.item.disabled * {
  cursor: not-allowed;
}
.stats {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 7px;
}
.state {
  font-size: 26px;
  font-weight: bold;
}
.followed {
  font-size: 6px;
  color: #aaa;
}
.pending {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 480px) {
  .name {
    padding: 0;
  }
}
