body {
  margin: 0;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Space Mono', regular;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: black;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #aaa;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  flex: 2;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .page {
    flex-direction: column;
  }

  .content {
    margin: initial;
  }
}
