body {
  margin: 0;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Space Mono', regular;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: black;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #aaa;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  padding: 5px;
  margin: 2px 0;
  transition: all 0.2s ease-out;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
button:not(:disabled):hover {
  background-color: rgb(245, 245, 245);
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* how to make it for mobile browsers? */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 960px;
  padding: 20px 20px 0;
}

.page {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.content {
  flex: 2;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .page {
    flex-direction: column;
  }

  .content {
    margin: initial;
  }
}
