* {
  font-family: 'Space Mono', regular;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #aaa;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}
.app {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}
